*{
    box-sizing: border-box;
    /* margin-top: 1px; */
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 1px;
    margin-bottom: 20px;
    color:#1bbc9b
}
nav h2{
    color:#1bbc9b
}
.home{
    display: flex;
}
.home >p{
    margin-left: 10px;
}
.form-heading{
    color: white;
    background-color:#bcc3cb;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 3px;
    margin-bottom: 10px;

}
.form-heading h2{
    margin-left: 30px;
    font-weight:2000;
    /* padding: 4px ; */
}
.container{
    display: flex;
    justify-content: center;
    height: 70%;
    /* border: 1px solid black; */
    
}
.form-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height:642px;   
    border: 1px solid black;
    border-radius: 4px;

}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    
    
}
input{
    height: 20px;
    border-color:lightgrey;
    border-radius: 4px;
}

form > input,select{
    width: 100%;
}
.rbutton{
    display: flex;
    justify-content: space-between;
    gap:210px;
}
.rbutton>div{
    display: flex;
    align-items:space-between ;
}
form select{
    background-color: #1bbc9b;
    width: 100%;
    height: 24px;
    color:white;
    border-radius: 4px;
}

button{
    margin-top: 15px;
    width: 50px;
    height: 30px;
    margin-right: 20px;
    background-color: #1bbc9b;  
    border-radius: 4px; 
    color :white;
    border: 0; 
    opacity: 1;
}
.btn{
    
    display: flex;
    height: 60px;
    background-color:#eeeff1;

    justify-content: flex-end;
    width: 100%;
    border-radius: 4px;
    
}
.file-upload {
    
    display: flex;
    align-items: center;
    
    border-radius: 4px;
    padding: 5px;
    width: 100%;
  }

  .file-upload input[type="file"] {
    display: none;
  }

  .file-label {
    background-color: #d3d7db;
    padding: 5px;
    border-radius: 3px;
    /* border: 1px solid black; */
    cursor: pointer;
    color:white;
    font-weight: bold;
    margin-left: auto;
  }

  .file-name {
    display: flex;
    border: 1px solid black;
    width:408px;
    padding: 6px;
    color: #777;
    border-radius: 5px;
    
  }
  .license{
    width: 200px;
  }
  .version>input{
    width: 110px;
    border-radius: 6px;
    height: 28px;
  }
  textarea{
    border-radius: 4px;
    border-color: lightgray;
  }
  label{
    margin-top: 4px;
    margin-bottom: 4px;
  }
